*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
}

.menu {
    background-color: #E3F7FD;
    width: 20vw;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
    list-style-type: none;
    margin-top: 2em;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: white;
}

.header {
    background-color: white;
    flex: 3;
    overflow: hidden;
}

.header img {
    height: 100%;
    width: 100%;
}

.content {
    flex: 10;
    margin: 1em;
}

.content p {
    text-align: justify;
}

.footer {
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}